In [18]:
import pandas as pd

In [19]:
dataset_path = "/Users/aykhanam/Desktop/Deploying-a-ML-Model-to-Cloud-Application-Platform-with-FastAPI/starter/data/census.csv"
df = pd.read_csv(dataset_path)

In [20]:
for col in df.columns:
    col_new = col.replace(" ", "")
    df.rename(columns={col: col_new}, inplace=True)

In [21]:
df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [22]:
print("Shape origin: ", df.shape)

Shape origin:  (32537, 15)

In [23]:
# Drop nan values
df = df.replace("?", None).dropna()

In [24]:
# Drop duplicate values
df.drop_duplicates(inplace=True)

In [25]:
print("Shape after clean: ", df.shape)

Shape after clean:  (32537, 15)

In [26]:
df.to_csv(dataset_path, index=False)

In [27]:
df_clean = pd.read_csv(dataset_path)
print("Check shape: ", df.shape)

Check shape:  (32537, 15)